/* 修改后start */
.rotateY_a{
  transform: rotateY(180deg);
}












/* 修改后end */

/* .mar_la{
  left: -0.25rem;
}
.may_loa{
  margin-right: 0.6rem;
}
.fsa{
  margin-left: 0rem !important;
  transform: rotateY(180deg) !important;
}
.tcka{
  left: 0.52rem;
}
.gc1a{
  right: 0rem;
}
.marga{
  margin-right: 0.3rem !important;
}
.marg_a{
  margin-right: -0.3rem;
}
.marg1a{
  margin-left: 0.3rem !important;
}
.gwa{
  right: 0.3rem;
}
.marg001a{
  margin-right: 0.1rem;
}
.marg5a{
  margin-right: 0.5rem !important;
}
.marg32a{
  margin-right: 0.32rem !important;
}

.florat_ra{
  float: right;
} */



/* .padd{
  padding-right: 0.3rem;
}
.padd1{
  padding-left: 0.3rem;
}
.marg4{
  margin-right: 0.4rem;
}

.marg28{
   margin-right: 0.28rem;
}
.margw{
  margin-right: 1.1rem;
}
.po_rg{
  right: -1.2rem !important;
}
.lzyd{
   margin-right: calc(100vw - 1rem);
}
.mar32{
   margin-left: 0.32rem !important;
}
.marg18{
  margin-left: 0.18rem;
}
.marg01{
  margin-left: 0.1rem;
}
.marg27{
  margin-right: 2.8rem;
}
.marg02{
   margin-left: 0.2rem;
}
.lr{
   margin-right: 0.5rem;
}
.gwc{
  left: 0.3rem;
}
.wcs{
  left: 1.7rem;
}
.wcsm{
  left: 1.33rem;
}
.gc{
  left: 0rem;
}
.lun{
  left: 0rem !important;
}
.lun1{
  left: 6rem !important;
}
.bz{
  right:5.66rem;
}
.htb{
    padding: 0 0.4rem 0 0.3rem;
}
.syl{
      right: -0.08rem;
}
.xiahua{
  right: 0.4rem;
}
.inside{
  padding-left: 0.1rem;
}
.ta1{

    padding: 0 0.3rem 0.3rem 0;
}
.hb_i{
  left: 40%;
}
.hb_i1{
  left: 60%;
}
.hb_sz{
  right: 0.13rem;
}
.tx1{
   padding: 0 0.3rem 0 0.54rem;
}
.my_g{
  justify-content: flex-start;
}

.chec{
  margin: 0.14rem 0 0 0.2rem;
}

.ttc{
   margin: 0.5rem 0.3rem 0 0;
}

.te1{
   margin-left: 0.3rem;
}

.bxx{
  left:3.6rem;
  margin: 0 !important;

}

.stat{
      padding: 0 0.3rem 0 2rem;
}

.sjt{
   margin-right: 0.6rem;
}
.sjt_{
   margin-right: 1.2rem;
}
.sjts{
   margin-right: 1rem;
}
.te2{
   margin-left: 0.3rem;
     margin-right: 0.6rem;
}
.ae .vux-cell-primary{
  transform: rotateY(180deg) !important;
}
.ae .vux-cell-primary .vux-number-input{
  transform: rotateY(180deg) !important;
}
/* .a .el-input__icon{
  position: absolute;
  right: 3.2rem;
} */
/* .lubob{
      margin-left:0 !important
}

.datb{
   margin-right: 0.18rem !important;
  transform: rotateY(180deg) !important;
}
.fc{
  position: absolute;
      z-index: 2;
      right: 0.6rem;
}
.tec1{
      margin-right: 0.3rem !important;
      text-align: right;
}


.gwbb{
  margin-left: 0.3rem !important;
  transform: rotateY(180deg) !important;
}
.gw{
  left: 0.3rem;
  transform: rotateY(180deg) !important;
}
.pa26{
  left: 0.26rem;
  transform: rotateY(180deg) !important;
}
.justify{
  justify-content: flex-end;
}
.wenzi{
  text-align: right;
} */ 


