
/* 修改后start */
.hb_sz{
  right: 0.3rem;
}
.mar_l{
  right: -0.25rem;
}
.marg28{
  margin-left: 0.28rem;
}
.marg5{
  margin-left: 0.5rem ;
}
.marg{
  margin-left: 0.3rem;
}
.marg1{
  margin-right: 0.3rem !important;
}
.gw{
  right: 0.3rem;
}
.ta1{
  padding: 0 0 0.3rem 0.3rem;
}
.syl{
  left: -0.08rem;
}
.lzyd{
  margin-left: calc(100vw - 1rem);
}
/* 修改后end */

/* 
.may_lo{
  margin-left: 0.6rem;
}
.fs{
  margin-right: 0rem !important;
}
.tck{
  right: 0.52rem;
}
.gc1{
  left: 0rem;
}

.marg_{
  margin-left: -0.3rem;
}
.marg1{
  margin-right: 0.3rem !important;
}
.gw{
  right: 0.3rem;
}
.marg001{
  margin-left: 0.1rem;
}

.marg32{
  margin-left: 0.32rem !important;
}




.padd{
  padding-left: 0.3rem;
}
.padd1{
  padding-right: 0.3rem;
}




.marg4{
   margin-left: 0.4rem;
}

.margw{
   margin-left:1.1rem;
}
.po_rg{
   left:-1.2rem !important;
}
.lzyd{
  margin-left: calc(100vw - 1rem);
}

.mar32{
   margin-right: 0.32rem !important;
}
.marg18{
   margin-right: 0.18rem;
}
.marg01{
   margin-right: 0.1rem;
}
.marg27{
   margin-left: 2.8rem;
}
.marg02{
  margin-right: 0.2rem;
}

.lf{
  margin-left: 0.5rem;
}
.gwc{
  right: 0.3rem;
}

.wcs{
  right: 1.7rem;
}
.wcsm{
  right: 1.33rem;
}
.gc{
  right: 0rem !important;
}

.lun{
  left: 0rem !important;
}
.lun1{
  left: 6rem !important;
}
.bz{
  left: 5.66rem;
}
.inside{
  text-align: end;
  padding-right: 0.1rem;
}
.ta1{
   padding: 0 0 0.3rem 0.3rem;
}
.tx1{
   padding: 0 0.54rem 0 0.3rem;
}
.chec1{
   margin: 0.14rem 0.2rem 0 0;
}
.ttc{
   margin: 0.5rem 0 0 0.3rem;
}
.stat{
      padding: 0 2rem 0 0.3rem;
}
.hb_i{
  left: 60%;
}
.hb_i1{
  left: 40%;
}
 
.bxx{
  left:1.2rem;
  margin-left: 0.7rem !important;
}

.sjt{
   margin-left: 0.6rem;
}

.sjt_{
   margin-left: 1.2rem;
}

.sjts{
   margin-left: 1rem;
}
.datb{
   margin-left: 0.18rem !important;
}
.justify{
  justify-content: flex-start;
}



.te1{
   margin-left: 0.6rem;
   margin-right: 0.3rem;
}
.wenzi{
  text-align: left;
}
.htb{
    padding: 0 0.3rem 0 0.4rem;
}

.xiahua{
  left: 0.4rem;
}
 */